services:
  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nfe_db
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: ./express-tarefa
    restart: always
    environment:
      PORT: 3002
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: nfe_db
      DB_PORT: 5432
    ports:
      - "3002:3002"
    depends_on:
      - db

  front:
    build: ./agentes
    restart: always
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://localhost:3002/api
    command: ["npm", "run", "dev", "--", "--host"]
    depends_on:
      - api

volumes:
  db_data:
