version: "3.9"

services:
  db:
    image: postgres:14
    container_name: projeto_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: projeto_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: ./api
    container_name: projeto_api
    restart: always
    ports:
      - "3001:3001"
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: projeto_db
      DB_PORT: 5432
    depends_on:
      - db

  front:
    build: ./front
    container_name: projeto_front
    restart: always
    ports:
      - "3000:3000"
    environment:
      VITE_API_URL=http://localhost:3001/api
    depends_on:
      - api

volumes:
  db_data: