version: "3.9"

services:
  db:
    image: postgres:14
    container_name: nfe_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nfe_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: ./express-tarefa
    container_name: nfe_api
    restart: always
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: nfe_db
      DB_PORT: 5432
    ports:
      - "3001:3001"
    depends_on:
      - db

  front:
    build: ./agentes
    container_name: nfe_front
    restart: always
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://api:3001/api
    command: ["npm", "run", "dev", "--", "--host"]
    depends_on:
      - api

volumes:
  db_data: